body {
    background: #eef2f3;
}

.navbar {
    background: linear-gradient(to right, #3ca55c, #2e8b57);
    padding: 20px 40px;
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

.card {
    background: white;
    padding: 45px;
    width: 360px;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    text-align: center;
}

.card h2 {
    margin-bottom: 5px;
}

.subtitle {
    color: #777;
    margin-bottom: 20px;
}

.card input {
    width: 100%;
    padding: 13px;
    margin: 12px 0;
    border-radius: 6px;
    border: 1px solid #ddd;
}

.card button {
    width: 100%;
    padding: 13px;
    background: linear-gradient(to right, #3ca55c, #2e8b57);
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.switch {
    margin-top: 15px;
}